<%- include('layout/header') %>


<div class="homepageContent">
    <% if (message) { %>
        <h2 class="popup"><%= message.message %></h2>
    <% } %>	
    <% if (users != '') { %>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>e-mail</th>
                <th>phone</th>
                <th>Action</th>
            </tr>
            <% users.forEach((row, index) => { %>
                <tr>
                    <td><%= index %></td>
                    <td><%= row.name %></td>
                    <td><%= row.email %></td>
                    <td><%= row.phone %></td>
                    <td><a class= "text-success" href="/update/<%=row._id%>"><i class = "fas fa-edit fa-lg mx-1"></i></a>
                    <a class= "text-danger" href="/delete/<%=row._id%>"><i class = "fas fa-trash fa-lg mx-1"></i></a></td>
                </tr>
            <% }) %>
        </table>         
    <% } else { %>
        <h1>Nothing to diplay</h1>
    <% } %>

</div>

<% include('layout/footer') %>